# file options

--swiftversion 5.7
--exclude .build
--exclude codegen
--exclude Tests/PklSwiftTests/Fixtures/
--exclude Sources/*/Generated/

# format options

--self insert
--patternlet inline
--stripunusedargs unnamed-only
--ifdef no-indent
--guardelse same-line
--nevertrailing filter
--extensionacl on-declarations

# rules

--disable spaceAroundOperators
--disable wrapMultilineStatementBraces
